version: "3.8"
services:

  nginx:
    image: nginx:stable
    volumes:
      - /opt/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - nginx-logs:/var/log/nginx/:ro      
    networks:
      - frontend
      - backend
    ports:
      - 80:80
      - 443:443
    deploy:
      placement:
        max_replicas_per_node: 1
      restart_policy:
        condition: on-failure
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  frontend:
  backend:

volumes:
  nginx-logs:
